<div class='container envelopes'>
  <h2>Your Envelopes </h2>
  <table id='envelopes-list'>
    <tr>
      <th>Name </th>
      <th>Balance </th>
      <th>Limit </th>
      <th>Days left </th>
      <th>Actions </th>
    </tr>
    <% @envelopes.each do |envelope| %>
      <tr>
        <td><%= envelope.name %></td>
        <td><%= envelope.balance %></td>
        <td><%= envelope.limit %></td>
        <td><%= days_left %></td>
        <td><%= link_to 'Edit', edit_envelope_path(envelope) %>, <%= link_to 'Delete', envelope_path(envelope), method: :delete %></td>
        <td><%= link_to 'Add transactions', '#' %> </td>
      </tr>
    <% end %>
  </ul>

  <%= link_to('Create a new envelope', new_envelope_path) %>
</div>